@font-face {
    font-family: "Inter-Regular";
    src: url('fonts/Inter-VariableFont_slnt\,wght.ttf');
}

@font-face {
    font-family: "Urbanist-Variable";
    src: url("fonts/Urbanist[wght].ttf");
}

@font-face {
    font-family: "Montserrat-Regular";
    src: url('fonts/Montserrat-VariableFont_wght.ttf');
}

html,
body {
    font-family: "Inter-Regular", sans-serif;
    font-size: 18px;
    color: black;
    background-color: #f5f5f5;
    overflow-y: hidden;
    overflow: visible;
    line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: "Urbanist-Variable", sans-serif;
    font-weight: 900;
    line-height: 1.38;
}

h1 {
    font-size: 42px;
}

h2 {
    font-size: 34px;
}

h3 {
    font-size: 26px;
}

h4 {
    font-size: 22px;
}

h5 {
    font-size: 18px;
}

.fader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: #262626;
    transition-property: opacity;
    transition-duration: 1s;
    pointer-events: none;
    overflow: hidden;
    z-index: 1000;
}

.fader.visible {
    pointer-events: all;
    opacity: 1;
    transition-duration: 0.3s;
    overflow: hidden;
}

.navbar-container {
    background-color: #262626;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    width: calc(100% - 80px);
    height: 56px;
    top: 0;
    z-index: 100;
}

.navbar-logo {
    font-weight: 600;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    color: #FFF;
}

.navbar-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.navbar-menu li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
}

.navbar-dropdown {
    position: relative;
}

.navbar-dropdown:hover .navbar-dropdown-menu {
    display: block;
}

.navbar-dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 160px;
    padding: 10px;
    background-color: #333333;
    z-index: 1;
}

.navbar-dropdown-menu li {
    margin: 0;
    padding: 0;
}

.navbar-dropdown-menu li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
    display: block;
    padding: 10px 0;
}

.navbar-caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 5px;
    vertical-align: middle;
    border-top: 5px solid #ffffff;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
}

.navbar-toggle-label {
    cursor: pointer;
    float: right;
    display: none;
}

.navbar-toggle-icon {
    background: white;
    display: block;
    height: 2px;
    position: relative;
    width: 24px;

}

.navbar-toggle-icon::before,
.navbar-toggle-icon::after {
    background: white;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.navbar-toggle-icon::before {
    top: 5px;
}

.navbar-toggle-icon::after {
    top: -5px;
}

.navbar-toggle {
    display: none;
}

.navbar-page-shadow {
    visibility: hidden;
    position: absolute;
    top: 56px;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    opacity: 0;
    z-index: 1;
    transition-duration: 0.5s;
}


/* Toggle menu icon */
.navbar-toggle:checked~.navbar {
    right: 0;
    transition: right 0.5s ease-out;
}

.navbar-toggle:checked~.navbar-page-shadow {
    background-color: black;
    visibility: visible;
    pointer-events: all;
    opacity: 0.5;
    transition-duration: 0.5s;
    z-index: 50;
}


/* .navbar-toggle:checked~nav {
    width: 100vw;
    max-height: 100%;
    border-top: 2px solid lightgray;
}

.navbar-toggle:checked~.navbar-toggle .navbar-toggle-label {
    background: transparent;
}

.navbar-toggle:checked~.navbar-toggle .navbar-toggle-label::before {
    transform: rotate(-45deg);
    top: 0;
}

.navbar-toggle:checked~.navbar-toggle .navbar-toggle-label::after {
    transform: rotate(45deg);
    top: 0;
} */


/* Mobile styling */
/* @media (max-width: 768px) {
    .navbar-container {
        flex-wrap: wrap;
    }

    .navbar-logo {
        order: 1;
        margin-right: auto;
        margin-left: 0;
    }

    .navbar-menu {
        order: 3;
        width: 100%;
        display: none;
        padding: 20px;
        background-color: #333333;
        position: absolute;
        top: 60px;
        left: 0;
        z-index: 1;
    }

    .navbar-menu li {
        margin-left: 0;
    }

    .navbar-menu li:first-child {
        margin-top: 20px;
    }
} */

.page-container {
    position: absolute;
    top: 56px;
    left: 0;
    width: 100%;
    height: calc(100% - 56px);
    overflow-y: scroll;
    margin-bottom: 1000px;
}

/* Spinner */
.spinnerDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.5);
}

.circular {
    animation: rotate 2s linear infinite;
    height: 100px;
    position: relative;
    width: 100px;
}

.path {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    animation:
        dash 1.5s ease-in-out infinite,
        color 6s ease-in-out infinite;
    stroke-linecap: round;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes dash {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }

    50% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -35;
    }

    100% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -124;
    }
}

@keyframes color {

    100%,
    0% {
        stroke: #d62d20;
    }

    40% {
        stroke: #0057e7;
    }

    66% {
        stroke: #008744;
    }

    80%,
    90% {
        stroke: #ffa700;
    }
}

/* Footer */
footer {
    background-color: #262626;
    display: inline-block;
    color: white;
    font-size: 14px;
    width: 100%;
    min-height: 56px;
    max-height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    gap: 50px;
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
}


footer a {
    color: white;
    text-decoration: underline;
    margin: 0 10px;
}

footer a:hover {
    color: #c5c5c5;
}

.footer-made-text a {
    margin: 0;
}

.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.footer-container a {
    margin: 0 10px;
}

/* Mobile Layout */
@media screen and (max-width: 800px) {
    main {
        margin: 0 20px;
    }

    h1 {
        font-size: 36px;
    }

    h2 {
        font-size: 28px;
    }

    h3 {
        font-size: 22px;
    }

    h4 {
        font-size: 20px;
    }

    h5 {
        font-size: 16px;
    }

    p {
        font-size: 16px;
    }

    footer {
        font-size: 10px;
        flex-wrap: wrap;
        flex-grow: 1;
        height: 100%;
        gap: 3px;
        padding: 5px 0;
    }

    .navbar-container {
        flex-direction: row;
        padding: 0 16px;
        width: calc(100% - 32px);
    }

    .navbar-toggle-label {
        display: block;
    }

    .navbar {
        width: 200px;
        height: 100vh;
        position: absolute;
        top: 56px;
        right: -200px;
        background-color: #262626;
        overflow: hidden;
        transition: right 0.5s ease-in;
        border-top: 1px solid #3a3a3a;
        z-index: 100;
    }

    .navbar-menu {
        flex-direction: column;
        flex-grow: 1;
        gap: 10px;
        padding: 10px 16px;
    }
    .navbar-menu a {
        display: block;
        width: 100%;
    }

    .navbar-menu a:hover {}
}